@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Clash+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unica+One:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MADE+TOMMY+Outline:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Typo+Hoop+Demo:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Voces:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Volkhov:wght@400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #150e28;
  overflow-x: hidden;
  color: black;
  font-size: 14px;
  font-family: poppins;
}

